table {
    padding: 0;
}
td{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: bold;
    height: 30px;
    padding: 3px;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}
.rp,.dp{
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    text-align: center;
}

.rp{
    color: green;
}
.dp{
    color: darkred;
}
.winrate {
    width: 180px;
    height: 280px;
}
.radiant_table,.dire_table {
    display: table;
    top: 0;
}
.stats{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.dire_table{
    float: right;
    margin-right: 10px;
}
.radiant_table{
    float: left;
    margin-left: 10px;
}
.radiant_img_hero {
    border-radius: 0px;
    top: -5px;
    left: -10px;
    height: 50px;
    width: 115px;
    object-fit: cover;
    position: absolute;
}
.dire_img_hero{
    border-radius: 0px;
    top: -5px;
    left: -10px;
    height: 50px;
    width: 85px;
    object-fit: cover;
    position: absolute;
}
p{
    margin: 0;
}
.stats_table {
    margin: 0 auto;
    margin-bottom: 5px;
}
.team_side{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    margin:10px;
    text-align: center;
}
.conclusion {
    border-top: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
.team_side_divs {
    display: flex;
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    justify-content: center;
}
.team_side_divs img{
    margin-left: 5px;
    margin-right: 5px;
    object-fit: cover;
    width: 40px;
}
#back{
    margin-top: 10px;
    width: 100px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    background-color: #ffffff;
    border: 1px solid white;
    transition: all 0.3s;
}
#back:hover{
    background-color: #000000;
    color: white;
    transition: all 0.3s;
    font-weight: normal;
}
