body {
    background-color: black;
    background-image: url("../wallpaper/firstpage.jpg");
    margin: 0;
}
header {
    height: 70px;
    color: white;
    background-color: black;
    font-family: 'Kanit', sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    min-width: 1000px;
}
a{
    color: white;
    text-decoration: none;
    outline: none;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    transition: 0.3s all;
}
a:hover{
    color: red;
    transition: 0.3s all;
}
.main{
    background-color:rgba(0, 0, 0, 0.9);
    border: 3px solid white;
    border-top:0px;
    border-radius: 10px;
    position: relative;
    width: 60%;
    margin: 0 auto;
    width: 1000px;
}
.l-header,.r-header{
    margin: 10px;
    display: flex;
    position: absolute;
}
.r-header{
    right: 0;
}
.l-header{
    left: 0;
}
.logo {
    margin: 0 auto;
}

