body {
    background-color: black;
    background-image: url("../wallpaper/xx.jpg");
    background-repeat: no-repeat;
    margin: 0;
}
header{
    height: 60px;
    color: white;
    background-color: black;
    font-family: 'Kanit', sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    min-width: 1000px;
}
a{
    color: white;
    text-decoration: none;
    outline: none;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    transition: 0.3s all;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}
a:hover{
    color: darkorange;
    background-size: 100% 2px;
    transition: 0.3s all;
}
.main{
    background-color:rgba(0, 0, 0, 0.9);
    border: 1px solid white;
    border-top:0px;
    border-radius: 10px;
    position: relative;
    width: 60%;
    margin: 0 auto;
    width: 1000px;
}
.l-header,.r-header{
    margin: 10px;
    display: flex;
    position: absolute;
}
.r-header{
    right: 15px;
}
.l-header{
    left: 15px;

}
.logo {
    margin: 0 auto;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
}
.f_info {
    position: absolute;
    background: black;
    bottom: 0;
}

