<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<script defer th:src="@{/scripts/Controller.js}"></script>
<!--   method="post" th:action="@{/selectHero}"     -->
<div class="main">
    <div style="padding: 5px">
        <div class="selected_heroes" method="get" th:action="@{/selectHero}">
            <div class="team">
                <p class="rp">RADIANT</p>
                <div style="display: flex;justify-content: center;">
                    <div class="radiant-placeholder" style="width: 100px">
                        <p>Heroes</p>
                        <button class="hero-placeholder" id="hero1"></button>
                        <button class="hero-placeholder" id="hero2"></button>
                        <button class="hero-placeholder" id="hero3"></button>
                        <button class="hero-placeholder" id="hero4"></button>
                        <button class="hero-placeholder" id="hero5"></button>
                    </div>
                    <div id="radiantRole">
                        <p>Role</p>
                        <div class="role-selection"></div>
                        <div class="role-selection"></div>
                        <div class="role-selection"></div>
                        <div class="role-selection"></div>
                        <div class="role-selection"></div>
                    </div>
                </div>
            </div>
            <div class="team">
                <p class="dp">DIRE</p>
                <div style="display: flex;justify-content: center;">
                    <div class="dire-placeholder" style="width: 100px">
                        <p>Heroes</p>
                        <button class="hero-placeholder" ></button>
                        <button class="hero-placeholder" ></button>
                        <button class="hero-placeholder" ></button>
                        <button class="hero-placeholder" ></button>
                        <button class="hero-placeholder" ></button>
                    </div>
                    <div id="direRole">
                        <p>Role</p>
                        <div class="role-selection"></div>
                        <div class="role-selection"></div>
                        <div class="role-selection"></div>
                        <div class="role-selection"></div>
                        <div class="role-selection"></div>
                    </div>
                </div>
            </div>
            <div style="display: table; position:relative;">
                <div id="options">
                    <div style="padding: 5px; display: table">
                        <div class="select-option">
                            <div style="width: 150px">ENABLE ROLE</div>
                            <div style="margin:0 auto">
                                <input type="checkbox" name="role" id="roleCh" value="0">
                            </div>
                        </div>
                        <div class="select-option">
                            <div style="width: 150px">SEARCH BY RANK</div>
                            <div style="margin:0 auto" >
                                <input type="checkbox" name="rank" id="rankCh" value="0">
                            </div>
                        </div>
                        <div class="select-option">
                            <div style="width: 150px">PERIOD</div>
                            <div style="margin:0 auto">
                                <select class="select-date">
                                    <option selected name="date" value="1">This Week</option>
                                    <option name="date" value="2">This Month</option>
                                    <option name="date" value="3">Last 3 Months</option>
                                    <option name="date" value="4">Last 6 Months</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="rank-container">
                        <div class="container">
                            <div style="width: 160px">
                                <img class="rank-img" src="/rank/Herald.png">
                                <img class="rank-img" src="/rank/Guardian.png">
                                <img class="rank-img" src="/rank/Crusader.png">
                            </div>
                            <label for="r1" class="l-radio">
                                <input type="radio" id="r1" name="selRank" class="rank-selection">
                            </label>
                        </div>
                        <div class="container">
                            <div style="width: 160px">
                                <img class="rank-img" src="/rank/Archon.png">
                            </div>
                            <label  for="r2" class="l-radio">
                                <input type="radio" id="r2" name="selRank" class="rank-selection">
                            </label>
                        </div>
                        <div class="container">
                            <div style="width: 160px">
                                <img class="rank-img" src="/rank/Legend.png">
                            </div>
                            <label for="r3" class="l-radio">
                                <input type="radio" id="r3" name="selRank" class="rank-selection" >
                            </label>
                        </div>
                        <div class="container">
                            <div style="width: 160px">
                                <img class="rank-img" src="/rank/Ancient.png">
                            </div>
                            <label for="r4" class="l-radio">
                                <input type="radio" id="r4" name="selRank" class="rank-selection">
                            </label>
                        </div>
                        <div class="container">
                            <div style="width: 160px">
                                <img class="rank-img" src="/rank/Divine.png">
                                <img class="rank-img" src="/rank/Immortal.png">
                            </div>
                            <label for="r5" class="l-radio">
                            <input type="radio" id="r5" name="selRank" class="rank-selection" value="0">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="analyze-container">
                    <div class="select-option" style="position: relative;width: 550px">
                        <div style="width: 100px; color: white">DEFAULT
                        </div>
                        <div><input type="checkbox" id="defCh" name="scales" checked value="1"></div>
                        <button id="analyze" onclick="analyze()">RESULT</button>
                    </div>
                </div>
                </div>
                </div>
    </div>
            <div>
                <div class="hero_overview">
                    <div class="hero" th:each="hero: ${heroes}">
                        <img class="img_hero" th:src="@{${'icons/id ('+(heroes.indexOf(hero)+1)+').png'}}">
                        <button class="inp_radiant" th:id="${(heroes.indexOf(hero)+1)}" th:value="${hero}"
                                name="radiant"/>
                        <button class="inp_dire" th:id="${(heroes.indexOf(hero)+1)}" th:value="${hero}" name="dire"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>