<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login.css}" href="/static/css/login.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<th:block th:insert="blocks/header :: header"></th:block>
<script defer th:src="@{/scripts/authentication.js}"></script>
<form method="post" action="/auth/login" class="form">
    <h1 id="login">LOGIN</h1>
    <div class="form_group">
        <input class="form_input" id="username" name="username" autocomplete="off" placeholder=" "/>
        <label class="form_label" for="username">USERNAME</label>
    </div>
    <div class="form_group">
        <input type="password" id="password" class="form_input" name="password" placeholder=" " autocomplete="off"/>
        <label class="form_label" for="password">PASSWORD</label>
    </div>
    <div class="buttons">
        <input type="submit" class="form_button" value="SIGN IN">
        <input type="submit" class="form_button" value="REGISTRATION">
    </div>
</form>
</body>
</html>