<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/statistic.css}" href="/static/css/statistic.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<th:block th:insert="blocks/header :: header"></th:block>
<div class="main">
    <div>
        <div style="display: flex;margin: 0 auto;position: relative">
            <div class="radiant_table">
                <table class="winrate">
                    <h1 class="rp">RADIANT</h1>
                    <tr>
                        <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[0])+1}+').png'}" height="40"></td>
                        <td th:text="${winrates[0]+'%'}"
                            th:style="${winrates[0]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                    <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[1])+1}+').png'}" height="40"></td>
                    <td th:text="${winrates[1]+'%'}" th:style="${winrates[1]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                    <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[2])+1}+').png'}" height="40"></td>
                    <td th:text="${winrates[2]+'%'}" th:style="${winrates[2]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                    <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[3])+1}+').png'}" height="40"></td>
                    <td th:text="${winrates[3]+'%'}" th:style="${winrates[3]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                    <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[4])+1}+').png'}" height="40"></td>
                    <td th:text="${winrates[4]+'%'}" th:style="${winrates[4]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                </table>
            </div>
            <div class="stats" th:object="${statsChance}">
                <!--STATS RADIANT-->
                <div>
                    <h2 class="team_side" style="color: green">RADIANT</h2>
                    <div class="team_side_divs">
                        Best hero
                        <img th:src="@{'icons/id ('+(${images.indexOf(heroes[statsChance[0]])+1})+').png'}" height="25">
                        by chance of winning
                    </div>
                    <div class="team_side_divs">
                        Worst hero
                        <img th:src="@{'icons/id ('+(${images.indexOf(heroes[statsChance[1]])+1})+').png'}"
                            height="25">
                        by chance of winning
                    </div>
                </div>
                <!--STATS DIRE-->
                <div>
                    <h2 class="team_side" style="color: darkred">DIRE</h2>
                    <div class="team_side_divs">
                        Best hero <img
                            th:src="@{'icons/id ('+${images.indexOf(heroes[statsChance[2]])+1}+').png'}" height="25">
                       by chance of winning
                    </div>
                    <div class="team_side_divs">
                        Worst hero <img
                            th:src="@{'icons/id ('+${images.indexOf(heroes[statsChance[3]])+1}+').png'}"
                            height="25">
                        by chance of winning
                    </div>
                </div>
                <!--CONCLUSION-->
                <div class="conclusion">
                    <p th:text="${(teamChance>0?('Radiant have a '+ teamChance/2):('Dire have a '+ (-teamChance/2)))+'% chance to win'}"></p>
                </div>
                <div style="text-align: center">
                    <button id="back" onclick="location.href='/counterpick'">BACK</button>
                </div>
            </div>
            <div class="dire_table">
                <table class="winrate">
                    <h1 class="dp">DIRE</h1>
                    <tr>
                        <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[5])+1}+').png'}" height="40"></td>
                        <td th:text="${winrates[5]+'%'}"
                            th:style="${winrates[5]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                    <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[6])+1}+').png'}" height="40"></td>
                    <td th:text="${winrates[6]+'%'}"
                        th:style="${winrates[6]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                    <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[7])+1}+').png'}" height="40"></td>
                    <td th:text="${winrates[7]+'%'}"
                        th:style="${winrates[7]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                    <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[8])+1}+').png'}" height="40"></td>
                    <td th:text="${winrates[8]+'%'}"
                        th:style="${winrates[8]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                    <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[9])+1}+').png'}" height="40"></td>
                    <td th:text="${winrates[9]+'%'}"
                        th:style="${winrates[9]>50 ? 'color:green':'color:#8c0f0f'}"></td>
                    </tr>
                </table>
            </div>
            <!--stats-->
        </div>
        <table class="stats_table">
            <!--Dire team-->
            <td>HEROES</td>
            <td colspan="2">
                <img th:src="@{'icons/id ('+${images.indexOf(heroes[5])+1}+').png'}" class="radiant_img_hero"></td>
            <td colspan="2">
                <img th:src="@{'icons/id ('+${images.indexOf(heroes[6])+1}+').png'}" class="radiant_img_hero"></td>
            <td colspan="2">
                <img th:src="@{'icons/id ('+${images.indexOf(heroes[7])+1}+').png'}" class="radiant_img_hero"></td>
            <td colspan="2">
                <img th:src="@{'icons/id ('+${images.indexOf(heroes[8])+1}+').png'}" class="radiant_img_hero"></td>
            <td colspan="2">
                <img th:src="@{'icons/id ('+${images.indexOf(heroes[9])+1}+').png'}" class="radiant_img_hero"></td>
            <td>CHANCE</td>
            </tr>


            <!--Radiant team-->
            <tr>
                <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[0])+1}+').png'}" class="dire_img_hero"></td>
                <td th:text="${counters[0] +'%'}"
                    th:style="${counters[0]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[0]}" th:style="${disadvantage[0]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[1] +'%'}"
                    th:style="${counters[1]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[1]}" th:style="${disadvantage[1]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[2] +'%'}"
                    th:style="${counters[2]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[2]}" th:style="${disadvantage[2]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[3] +'%'}"
                    th:style="${counters[3]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[3]}" th:style="${disadvantage[3]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[4] +'%'}"
                    th:style="${counters[4]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[4]}" th:style="${disadvantage[4]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${chance.get(0) +'%'}"
                    th:style="${chance.get(0)>0 ? 'background-color:#003a00':'background-color:#440101'}"></td>

            </tr>
            <tr>
                <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[1])+1}+').png'}" class="dire_img_hero"></td>
                <td th:text="${counters[5] +'%'}"
                    th:style="${counters[5]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[5]}" th:style="${disadvantage[5]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[6] +'%'}"
                    th:style="${counters[6]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[6]}" th:style="${disadvantage[6]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[7] +'%'}"
                    th:style="${counters[7]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[7]}" th:style="${disadvantage[7]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[8] +'%'}"
                    th:style="${counters[8]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[8]}" th:style="${disadvantage[8]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[9] +'%'}"
                    th:style="${counters[9]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[9]}" th:style="${disadvantage[9]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${chance.get(1) +'%'}"
                    th:style="${chance.get(1)>0 ? 'background-color:#003a00':'background-color:#440101'}" ></td>


            </tr>
            <tr>
                <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[2])+1}+').png'}" class="dire_img_hero"></td>
                <td th:text="${counters[10] +'%'}"
                    th:style="${counters[10]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[10]}" th:style="${disadvantage[10]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[11] +'%'}"
                    th:style="${counters[11]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[11]}" th:style="${disadvantage[11]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[12] +'%'}"
                    th:style="${counters[12]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[12]}" th:style="${disadvantage[12]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[13] +'%'}"
                    th:style="${counters[13]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[13]}" th:style="${disadvantage[13]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[14] +'%'}"
                    th:style="${counters[14]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[14]}" th:style="${disadvantage[14]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${chance.get(2)+'%'}"
                    th:style="${chance.get(2)>0 ? 'background-color:#003a00':'background-color:#440101'}"></td>


            </tr>
            <tr>
                <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[3])+1}+').png'}" class="dire_img_hero"></td>
                <td th:text="${counters[15] +'%'}"
                    th:style="${counters[15]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[15]}" th:style="${disadvantage[15]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[16] +'%'}"
                    th:style="${counters[16]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[16]}" th:style="${disadvantage[16]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[17] +'%'}"
                    th:style="${counters[17]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[17]}" th:style="${disadvantage[17]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[18] +'%'}"
                    th:style="${counters[18]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[18]}" th:style="${disadvantage[18]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[19] +'%'}"
                    th:style="${counters[19]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[19]}" th:style="${disadvantage[19]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${chance.get(3)+'%'}"
                    th:style="${chance.get(3)>0 ? 'background-color:#003a00':'background-color:#440101'}" ></td>


            </tr>
            <tr>
                <td><img th:src="@{'icons/id ('+${images.indexOf(heroes[4])+1}+').png'}" class="dire_img_hero"></td>
                <td th:text="${counters[20] +'%'}"
                    th:style="${counters[20]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[20]}" th:style="${disadvantage[20]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[21] +'%'}"
                    th:style="${counters[21]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[21]}" th:style="${disadvantage[21]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[22] +'%'}"
                    th:style="${counters[22]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[22]}" th:style="${disadvantage[22]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[23] +'%'}"
                    th:style="${counters[23]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[23]}" th:style="${disadvantage[23]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${counters[24] +'%'}"
                    th:style="${counters[24]>50 ? 'background-color:green':'background-color:red'}"></td>
                <td th:text="${disadvantage[24]}" th:style="${disadvantage[24]>0 ? 'color:green':'color:red'}"></td>
                <td th:text="${chance.get(4)+'%'}"
                    th:style="${chance.get(4)>0 ? 'background-color:#003a00':'background-color:#440101'}" ></td>


            </tr>
            <tr>
                <td><p>CHANCE</p>
                <td th:text="${chance.get(5)+'%'}"
                    th:style="${chance.get(5)>0 ? 'background-color:#003a00':'background-color:#440101'}" colspan="2"></td>
                <td th:text="${chance.get(6)+'%'}"
                    th:style="${chance.get(6)>0 ? 'background-color:#003a00':'background-color:#440101'}" colspan="2"></td>
                <td th:text="${chance.get(7)+'%'}"
                    th:style="${chance.get(7)>0 ? 'background-color:#003a00':'background-color:#440101'}" colspan="2"></td>
                <td th:text="${chance.get(8)+'%'}"
                    th:style="${chance.get(8)>0 ? 'background-color:#003a00':'background-color:#440101'}" colspan="2"></td>
                <td th:text="${chance.get(9)+'%'}"
                    th:style="${chance.get(9)>0 ? 'background-color:#003a00':'background-color:#440101'}" colspan="2"></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</div>
</body>
</html>